* {
  font-family: sans-serif;
}

#map {
  height: 400px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#animal-data {
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2-_almLT0WWEU00Lqdx4UGIdw_8JLP2OAaFRBp4s4bEgSN0sM");
}

#animal-results {
  background-color: white;
  display: inline-block;
  width: 100%;
}

h3:hover {
  color: blue;
  cursor: pointer;
}

h3 {
  font-size: 40px;
  text-align: center;
}


#js-query {
  font-size: 25px;
  height: 50px;
  width: 400px;
  border-width: 2px;
  border-color: #000000;
  border-radius: 15px;
  margin-bottom: 30px;
}

::placeholder {
  padding-left: 15px;
}

#error {
  color: red;
}

#search-button {
  display: inline;
  font-size: 20px;
  height: 50px;
  border-width: 2px;
  border-color: #000000;
  border-radius: 15px;
   background-color: lightgreen;    
}

form {
  text-align: center;
}

#labels {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000;
}

#first-heading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#content {
  width: 150px;
}

#popup-box {
  height: 100px;
}

#first-description {
  margin-top: 0;
  margin-bottom: 160px;
  font-size: 40px;
  font-family: Boogaloo;
  color: white;
}

#first-description, #description-paragraph2 {
  text-align: center;
}

#description-paragraph2 {
  color: whitesmoke;
  text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000;
  font-size: 30px;
  font-family: sans-serif
}

#first-sentence {
  font-size: 35px;
  text-shadow: 4px 4px  #000000;
  color: white;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  width: 75%;
  font-family: sans-serif;
}

#get-started {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  height: 150px;
  width: 200px;
  border-width: 5px;
  border-color: #000000;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: #f9b680;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2-_almLT0WWEU00Lqdx4UGIdw_8JLP2OAaFRBp4s4bEgSN0sM");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#get-started:hover {
  cursor: pointer;
  color: blue;
}

#infoWindow-pics {
  height: 100px;
  width: 100px;
}

#animal-pics {
  display: block;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

body {
  margin: 0;
  padding: 0;
}
 
html {
  background-image: url("http://www.petsworld.in/blog/wp-content/uploads/2014/11/Dog-and-Cat.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#name-of-app {
  font-family: Boogaloo;
  text-shadow: 4px 4px  #999900;
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: whitesmoke;
} 

header {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#green-header {
  display: block;
  width: 100%;
  height: 70px;
  background-color:  #009900;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.description {
  font-size: 25px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#theAddresses {
  font-size: 20px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}


@media only screen and (min-width: 768px)  { 
  select {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    height: 60px;
    width: 120px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: lightgreen;
  }
 }

@media only screen and (max-width: 414px) and (min-width: 321px){

  select {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    height: 30px;
    width: 65px;
    border-width: 1px;
    border-color: #000000;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: lightgreen;
  }

  #js-query {
    font-size: 25px;
    height: 40px;
    width: 270px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 15px;
    margin-bottom: 30px;
  }

  #first-sentence {
    text-align: center;
    font-size: 25px;
    width: 75%;
    color: white;
    text-shadow: 2px 2px  #000000;
    font-family: sans-serif;
  }

  #get-started {
    font-size: 20px;
    height: 70px;
    width: 150px;
    border-width: 2px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #000000;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2-_almLT0WWEU00Lqdx4UGIdw_8JLP2OAaFRBp4s4bEgSN0sM");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #first-description {
    font-size: 30px;
    width: 75%;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 170px;
    font-family: Boogaloo;
    color: whitesmoke;
  }

  #description-paragraph2 {
    color: whitesmoke;
    text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000;
    font-size: 25px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: sans-serif
  }

  #labels {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000;
  }

  form {
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }


  #search-button {
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 15px;
     background-color: lightgreen;  
     margin-bottom: 15px;  
  }

  #map {
    display: block;
    height: 250px;
    width: 100%;
  }

  #animal-results {
    background-color: white;
    display: block;
    width: 100%;
  }

  #animal-data {
    height: 250px;
    display: block;
    width: 100%;
    overflow: auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2-_almLT0WWEU00Lqdx4UGIdw_8JLP2OAaFRBp4s4bEgSN0sM");
  }
}

@media only screen and (max-width: 320px) {

  #get-started {
    font-size: 20px;
    height: 60px;
    width: 100px;
    border-width: 2px;
    border-radius: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #000000;
    background-color: #f9b680;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2-_almLT0WWEU00Lqdx4UGIdw_8JLP2OAaFRBp4s4bEgSN0sM");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #green-header {
    display: block;
    width: 100%;
    height: 40px;
    background-color:  #009900;
    position: relative;
    margin: 0px;
    padding: 0px;
  }

  #first-sentence {
    text-shadow: 2px 2px  #000000;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 50px;
  }

  #name-of-app {
    font-family: Boogaloo;
    text-shadow: 2px 2px  #999900;
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
  } 

  form {
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }

  #labels {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 0px  #000, -2px -2px 0px  #000, 2px -2px 0px  #000, -2px 2px 0px  #000;
  }

  #search-button {
    height: 30px;  
    font-size: 20px;
    border-width: 2px;
    margin-bottom: 25px;
    border-color: #000000;
    border-radius: 15px;
    background-color: lightgreen;  
  }

  #js-query {
    font-size: 25px;
    height: 30px;
    width: 250px;
    border-width: 2px;
    border-color: #000000;
    border-radius: 15px;
    margin-bottom: 30px;
  }

  #description-paragraph2 {
    margin-top: 50px;
    color: whitesmoke;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
    width: 75%;
    margin: 0 auto;
  }

  select {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    height: 20px;
    width: 65px;
    border-width: 1px;
    border-color: #000000;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: lightgreen;
  }

  #first-description {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 180px;
    font-family: Boogaloo;
    color: whitesmoke;
  }
}
